<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{site_title}} Admin{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% stylesheets
           '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle-fa.less'
           '@CoreCommonBundle/Resources/public/less/style.less'
           output='css/admin.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets%}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section id="wrapper">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" offest2" href="#">{{site_title}}</a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav pull-right">
                                {% if app.user is not empty and is_granted('ROLE_USER ')%}
                                <li><a href="{{ path('CoreUserBundle_logout') }}"><i class="icon-off"></i> {% trans %}Logout{% endtrans %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="col-sm-12 col-md-12 col-lg-12"  id="content">
                <div class="row">
                    {% block content %}
                    <aside id="sidebar" class="col-sm-2 col-md-2 col-lg-2">
                        <nav>
                            {% block sidebar %}
							{% render controller("CoreCommonBundle:Default:sidebar") %}
							{% endblock  sidebar %}
                        </nav>
                    </aside>
                    <section id="main" class="col-sm-10 col-md-10 col-lg-10">
                            {% block body %}{% endblock body %}
                    </section>
                    {% endblock content %}
                </div>
            </div>
            <footer>
            </footer>        
        </section>
        {% javascripts
           'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
		   '@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
           '@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
		   '@CoreCommonBundle/Resources/public/js/common.js'
           output="js/bootstrap.js"
        %}
        <script src="{{ asset_url }}" type="text/javascript" ></script>
        {% endjavascripts %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
