<form action="{{path('site_contact_claim_form_send')}}" method="post" class="contact-form full">
  <div class="row-fluid">
    <div class="span5 nolabel">
        {% include "CoreShopBundle:Address:baseform.html.twig" with {'form': form.address} %}
    </div>
    <div class="span7 nolabel">
        {{ form_row(form.orderNumber) }}
        {{ form_row(form.productNumber) }}
        {{ form_row(form.accountNumber) }}
        {{ form_row(form.message) }}
    </div>
</div>
<div class="row-fluid">
    <div class="span5">
        <div class="nolabel">
        {{ form_row(form.verification_code) }}
        </div>
    </div>
    <div class="span2 nolabel">
      <strong class="btn btn-danger btn-block">{{verification_code}}</strong>
    </div>
    <div class="span3">
      {{ form_widget(form.copy) }}
      {{ form_rest(form) }}
    </div>
    <div class="span2 nolabel">
        <button type="submit" class="btn btn-block btn-inverse">{% trans %}Send{% endtrans %}</button>
    </div>
</div>
</form>