<form action="{{ path('cart_add')}}" method="post">
    <div>
        <input type="hidden" name="items[{{product}}][productId]" value="{{ product }}"/>
        <input type="hidden" name="items[{{product}}][price]" value="{{ price }}"/>
        <input type="hidden" name="items[{{product}}][priceVAT]" value="{{ priceVAT }}"/>
        <input type="hidden" name="items[{{product}}][name]" value="{{ title }}"/>
        <input type="{% if hidden %}hidden{% else %}text{% endif %}" name="items[{{product}}][amount]" value="{{ amount }}" />
        <button type="submit" class="btn btn-default btn-block pull-right">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
    </div>
</form>