{% extends '::base.html.twig' %}
{% block body %}
<div id="cart">
    <h1>{% trans %}Cart{% endtrans %}</h1>
    {% if cart is not empty and cart.items is not empty %}
    <table class="cart table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th class="image"></th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Price VAT{% endtrans %}</th>
                <th>{% trans %}Total price{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.items %}
            <tr>
                <td class="image">
                    {% if item.productId is not empty %}
                    {% render controller("SiteProductBundle:Product:productMainMedia", {'product': item.productId, 'dir': 'product-small'}) %}
                    {% endif %}
                </td>
                <td class="name">
                    <span class="item-name">{{ item.name }}</span>
                    <br />
                    {% if item.options is not empty %}
                    {% for option in item.options %}
                      <strong>{{option.name}}: </strong>{{option.value}}, 
                    {% endfor %}
                    {% endif %}
                    <br />
                </td>
                <td class="form col-sm-2 col-md-2 col-lg-2">
                    <form action="{{ path('cart_update') }}" method="post">
                        <div class="input-group">
                            {% if item.changeAmount %}<button type="submit" class="btn input-group-addon"><span class="glyphicon glyphicon-refresh"></span></button>{% else %}<a class="btn"></a>{% endif %}
                            <input type="text" class="form-control" name="items[{{loop.index0}}][amount]" value="{{ item.amount }}" size="3" {% if not item.changeAmount %}readonly="readonly" disabled="disables"{% endif %}/>
                            <a href="{{ path('cart_remove', {'index': loop.index0})}}" class="btn input-group-addon"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </form>
                </td>
                <td class="price">
                    {{ item.priceVAT|number_format(2) }} €
                </td>
                <td class="total">
                    {{ item.priceVatTotal|number_format(2) }} € &nbsp; 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="info">
        {% trans %}Your cart is empty.{% endtrans %}
    </div>
    {% endif %}
    <hr />
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            {% render controller("SiteShopBundle:Coupon:form") %}
        </div>
    </div>
    <hr />
    <div class="row cart-navigation">
        <a href="{{path('category_homepage')}}" class="col-sm-3 col-md-3 col-lg-3 btn btn-default pull-left">
            <span class="glyphicon glyphicon-arrow-left"></span>  {% trans %}Back to shop{% endtrans %}
        </a>
        {% if cart is not empty and cart.items is not empty %}
        <a href="{{path('checkout')}}" class="col-sm-3 col-md-3 col-lg-3 btn-default btn pull-right">
            {% trans %}Checkout order{% endtrans %} <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}