<form action="{{ path('checkout_guestaddress')}}" method="post">
    {{ form_errors(form) }}
    <div class="row-fluid">
      <div class="span12">
          <legend class="paymentaddress">{% trans %}Payment address{% endtrans %}</legend>
          <div class="row-fluid">
              <div class="span6 paymentaddress">
                  {% include 'CoreShopBundle:Address:baseform.html.twig' with {'form': form.paymentAddress} %}
              </div>
              <div class="span6 paymentaddress">
                  {% include "CoreShopBundle:Address:contactform.html.twig" with {'form': form.paymentAddress} %}
                  <div class="company span12">
                      {% include "CoreShopBundle:Address:companyform.html.twig" with {'form': form.paymentAddress} %}
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 sameaddress">
          {{ form_widget(form.sameAddress) }}
          <a href="#" class="company-link">{% trans %}Company information{% endtrans %}</a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <legend class="shippingaddress">{%trans%}Shipping address{%endtrans%}</legend>
        <div class="row-fluid">
            <div class="span6 shippingaddress">
                  {% include "CoreShopBundle:Address:baseform.html.twig" with {'form': form.shippingAddress} %}
              </div>
              <div class="span6 shippingaddress">
                  {% include "CoreShopBundle:Address:contactform.html.twig" with {'form': form.shippingAddress} %}
              </div>
          </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <a href="{{path('cart')}}" class="btn pull-left"><i class="icon-arrow-left icon-white"></i> {% trans %}Back to cart{% endtrans %} </a>
        <button type="submit" class="btn pull-right">{% trans %}Continue{% endtrans %} <i class="icon-arrow-right"></i></button>
        {{ form_rest(form) }}
      </div>
    </div>
</form>