<form action="{{ path('newsletter_email_subscribe') }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
    <div class="span3">
        <label>{{form_label(form.email)}}</label>
        <div class="input-append">
        {{form_widget(form.email)}}
        <span class="add-on">
            <button type="submit" class="button-ok"></button>
        </span>
        </div>
        {{form_rest(form)}}
    </div>
    <div class="clear"></div>  
    </div> 
</form>
