{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Category creation{% endtrans %}</h1>

<form action="{{ path('category_create', {'menu': menu, 'parent': parent}) }}" method="post" {{ form_enctype(form) }}>
     <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                {{ form_row(form.title) }}
                {{ form_widget(form.enabled) }}
                {{ form_widget(form.home) }}
                {{ form_widget(form.external) }}
                {{ form_widget(form.slug) }}
            </div>
        </div>
    </div>
    <p>
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Create{% endtrans %}</button>
    </p>
</form>
{% endblock %}
