<div class="tree-node">
    <div class="node-text pull-left">
    {% if node.enabled %}
    <i class="icon-ok"></i>
    {% else %}
    <i class="icon-remove"></i>
    {% endif %}
    </div>
    <div class="node-text pull-left">
    {{ node.title }}
    </div>
    <div class="pull-right btn-toolbar">
       {% if node.home %}<span class="btn"><i class="icon-home"></i></span>{% endif %}
        <div class="btn-group">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">{% trans %}Content{% endtrans %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('content', { 'category': node.id }) }}" class=""><i class="icon-list"></i> {% trans %}Texts{% endtrans %}</a></li>
                <li><a href="{{ path('product', { 'category': node.id }) }}" class=""><i class="icon-list"></i> {% trans %}Products{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans %}Move{% endtrans%} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('category_up', { 'id': node.id, 'position': 1 }) }}" class="move-up"><i class="icon-arrow-up"></i> {% trans %}Move up{% endtrans %}</a></li>
                <li><a href="{{ path('category_down', { 'id': node.id, 'position': 1 }) }}" class="move-down"><i class="icon-arrow-down"></i> {% trans %}Move down{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="btn-group">           
            <a href="{{ path('category_edit', { 'id': node.id }) }}" class="btn btn-warning"><i class="icon-edit"></i> {% trans %}Edit{% endtrans %}</a>
            <a href="{{ path('category_new', {'menu': node.menu, 'parent': node.id}) }}" class="btn btn-primary"><i class="icon-plus"></i> {% trans %}Create a new child category{% endtrans %}</a>
        </div>
    </div>
    <div class="clear"></div>
</div>