{% extends '::admin.html.twig' %}
{% block body %}
<h1>{% trans %}Payment list{% endtrans %}</h1>

<table class="records_list table table-striped">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Price{% endtrans %}</th>
            <th>{% trans %}Price VAT{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                <a href="{{ path('payment_new') }}" class="btn btn-primary"><i class="icon-plus"></i> {% trans %}Create a new entry{% endtrans %} </a>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.priceVAT }}</td>
            <td>
                <a href="{{ path('payment_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-edit"></i> {% trans %}Edit{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
