<div class="row-fluid">
    <div class="span12">
        {{ form_row(form.name)}}
        {{ form_errors(form.name) }}
        {{ form_row(form.surname)}}
        {{ form_errors(form.surname) }}
        {{ form_row(form.company)}}
        {{ form_errors(form.company) }}
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        {{ form_row(form.street)}}
        {{ form_errors(form.street) }}
    </div>
    <div class="span4">
        {{ form_row(form.houseNumber)}}
        {{ form_errors(form.houseNumber) }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{ form_row(form.city)}}
        {{ form_errors(form.city) }}
        {{ form_row(form.ZIP)}}
        {{ form_errors(form.ZIP) }}
        {{ form_row(form.state)}}
        {{ form_errors(form.state) }}
    </div>
</div>

